* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins';
}

html {
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container-content {
  flex-grow: 1;
  background-color: white;
  padding: 9rem 0 4rem 0;
}

